body, html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #5DA7DB;
    position: sticky;
    top: 0px;
    height: 150px;
    width: 100vw;
    max-width: 100%;
    padding: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
}

nav ul {
    font-size: 24px;
    list-style: none;
    margin: 30px;
    padding: 0;
    display: flex;
}

nav li {
    width: 100px;
    margin: 0px 20px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
}

nav li:hover {
    background-color: #32d5e0;
}

nav a {
    display:inline-block;
    width:100%;
}

nav a {
    color: black;
    text-decoration: none;
}

.logo {
    margin: 50px;
    width: 100px;
    height: 100px;
    user-select: none;
}

#backPanel {
    background-color: #7DE5ED;
    min-height: calc(100vh - 150px);
    max-width: 90vw;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------- Index/home page ---------------------- */

#startpanel {
    background-color: #7DE5ED;
    width: 100%;
    height: 25%;
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

#startimage {
    width: 200px;
    height: 90%;
    padding: 20px;
    padding-left: 40px;
    transform: rotateY(180deg);
}

#starttext {
    font-size: 16px;
    width: 290px;
    margin-top: auto;
    margin-bottom: auto;
    
}

#startnowbutton {
    width: 130px;
    height: 40px;
    font-size: 18px;
    background-color: #5DA7DB;
    border-color: transparent;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.5s;
}

#startnowbutton span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#startnowbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#startnowbutton:hover span {
    padding-right: 25px;
}

#startnowbutton:hover span:after {
    opacity: 1;
    right: 0;
}
  

#explanationpanel {
    background-color: #7DE5ED;
    width: 580px;
    height:290px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-radius: 20px;
    transform: translateY(120%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* ---------------------- Login page ---------------------- */

#loginPanel {
    background-color: #81C6E8;
    display:flex;
    flex-direction: column;
    font-size: 24px;
    width: 290px;
    height: 290px;
    border-radius: 30px;
    padding : 80px;
    align-items: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm input {
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 40px;
}

#password::placeholder {
    transform: translateY(30%);
    letter-spacing: 5px;
    font-size: 30px;
}

#loginForm button {
    background-color: #6595fd;
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    border-radius: 30px;
    font-size: 24px;
    border-width: 0;
}

#loginPanel a {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: black;
}

#loginPanel #forgor {
    font-size: 15px;
    text-decoration-line: underline;
}

#loginPanel #forgor:hover {
    color: blue;
}


/* ---------------------  register page ---------------------- */

#registerPanel {
    background-color: #81C6E8;
    font-size: 24px;
    min-width: 0px;
    width: 900px;
    height: 1150px;
    border-radius: 30px;
    box-sizing: border-box;
    padding : 80px;
    padding-left: 100px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

#registerPanel h1 {
    line-height: 0;
    padding-bottom: 25px;
    display: inline-block;
    text-overflow: ellipsis;
}

#registerPanel h3 {
    line-height: 0;
    padding-top: 40px;
    font-size: 30px;
}

#registerPanel form {
    display: flex;
    flex-direction: column;
}

#registerPanel label {
    padding-top: 0px;
    font-size: 24px;
}

#registerPanel input {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 280px 170px 210px;
}

#registerPanel .grid-container input, 
#registerPanel .grid-container select {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border-width: 2px;
    box-sizing: border-box;
    margin-right: 30px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#registerPanel textarea {
    width: 100%;
    min-height: 90px;
    max-height: 200px;
    font-size: 20px;
    resize: none;
    border-radius: 10px;
    border-width: 2px;
    font-size: 20px;
    padding: 10px;
}

#registerPanel button {
    background-color: #6595fd;
    width: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    border-radius: 30px;
    font-size: 24px;
    border-width: 0;
}

.input-control {
    display: flex;
    flex-direction: column;
    color: #ff3860;
    font-size: 9px;
}

.input-control select {
    border-color: black;
    color: black;
}

.input-control label{
    color: black;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
    color: black;
}

.input-control.error input {
    border-color: #ff3860;
    color: black;
}

.input-control.mid input {
    border-color: orange;
    color:black;
}

.input-control.success select {
    border-color: #09c372;
    color: black;
}

.input-control.error select {
    border-color: #ff3860;
    color: black;
}

.input-control.mid select {
    border-color: orange;
    color:black;
}

.input-control.success .error{
    color:#09c372;
    font-size: 14px;
}

.input-control.error .error{
    color: #ff3860;
    font-size: 14px;
}

.input-control.mid .error{
    color:orange;
    font-size: 14px;
}

.optional{
    color: black;
    font-size: 14px;
}

/* ---------------------  account page  ---------------------- */

#accountPanel {
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: top;
    gap: 75px;
    margin-left: 100px;
    margin-right: 100px;
}



.profile-picture {
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 100%;
}

#accountPanel h1,
#accountPanel h3,
#accountPanel h5 {
    margin-block-start: 0;
    margin-block-end: 0;
}

#accountPanel h3 {
    color: grey;
}

#accountPanel h2 {
    margin-top: 70px;
}

#accountPanel #fullname {
    margin-bottom: 35px;
}

#accountPanel #bioPanel {
    background-color: #32d5e0;
    min-width: 0px;
    min-height: 170px;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
}

/* ---------------------  goallist page ---------------------- */

#progressPanel {
    background-color: #81C6E8;
    transform: translateY(-300%);
    font-size: 24px;
    width: 580px;
    height: 60px;
    border-radius: 10px;
    padding : 20px;
    overflow-x: auto;
    position: absolute;
}  

#progressText {
    position: absolute;
    transform: translateY(-100%);
}

#progressBorder {
    background-color: white;
    border-radius: 5px;
    border: 1px solid;
    border-color: black;
    width: 540px;
    height: 20px;
    position: absolute;
    transform: translateY(150%);
}

#progressBar{
    background-color: #09cad8;
    width: 50%;
    height: 20px;
    border-radius: 5px;
    font-size: 20px;
    
}

#listPanel {
    background-color: #81C6E8;
    transform: translateY(-15%);
    font-size: 24px;
    width: 580px;
    height: 290px;
    border-radius: 30px;
    padding : 20px;
    overflow-x: auto;
    position: absolute;
}  

#table {
    border: 2px solid;
    width : 100%;
    border-collapse: collapse;
}

#tableBody tr {
    background-color: #09cad8;
}

#tableBody tr:nth-child(even){
    background-color: #7DE5ED;
}


#tableBody tr:hover {
    background-color: #5DA7DB;
}

#table th {
    height: 30px;
    border-bottom: 2px solid black;
    text-align: left;
    background-color: #6595fd;
    padding-top: 8px;
    padding-bottom: 8px;
}

#tableBody a {
    display: flex;
    text-decoration: none;
}

#tableBody a:link, 
#tableBody a:visited,
#tableBody a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

#addPanel {
    position: absolute;
    width: 50%;
    display: flex;
    border-color: black;
    border-width: 5px;
    align-items: flex-end;
    justify-content: center;
    transform: translateY(110%);
}

#add-goal {
    width: 250px;
    background-color: #5DA7DB;
    border-radius: 20px;
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    margin: 50px;
    border: 0px;
}

#add-goal:hover {
    background-color: #6595fd;
    transition: 0.4s;
}

/* ------------------ Goal page ------------------------- */

#goalPanel {
    width: 100%;
    height: 100%;
    margin: 45px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#goalPanel #details {
    width: 50%;
}

#goalPanel #description,
#goalPanel #due-date,
#goalPanel #targets {
    width: 100%;
    box-sizing: border-box;
    background-color: #81C6E8;
    border-radius: 5px;
    padding: 15px;
}

#goalPanel #description {
    min-height: 170px;
}

#goalPanel #targets {
    min-height: 350px;
}

#goalPanel #editPanel {
    width: 50%;
    display: flex;
    border-color: black;
    border-width: 5px;
    align-items: flex-end;
    justify-content: center;
}



#goalPanel .target {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #5DA7DB;
    margin-bottom: 10px;
}

#goalPanel .target form {
    display: grid;
    gap: 5px;
    width: 100%;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

#goalPanel .target.numeric form {
    grid-template-columns: 10px 1fr 30px 0px 30px 80px;
}

#goalPanel .target.boolean form {
    grid-template-columns: 10px 1fr;
}

#goalPanel .target.monetary form {
    grid-template-columns: 15px max-content min-content 15px 12fr 1fr max-content min-content;
    gap: 0;
}

#goalPanel .target form #target-name {
    background-color: transparent;
    border-width: 0;
    border-bottom-width: 1px;
    min-width: 10px;
    width: 100%;
}


#goalPanel .target.target.monetary form input {
    background-color: transparent;
    border-width: 0;
    border-bottom-width: 1px;
    min-width: 10px;
    width: 100%;
    min-width: 3ch;
}

#goalPanel .target.numeric #counter,
#goalPanel .target.numeric #count {
    min-width: 5px;
    width: auto;

    background-color: transparent;
    border-width: 0;
    border-bottom-width: 1px;
    margin: 5px;
    text-align: center;
}

#goalPanel .target .no-number-arrows::-webkit-outer-spin-button,
#goalPanel .target .no-number-arrows::-webkit-inner-spin-button {
    display: none;
}

#goalPanel .target form #buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#goalPanel .target form #buttons button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    border-width: 1px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0 5px;
    text-align: center;
}

#goalPanel .target form #buttons #increase {
    background-color: green;
}

#goalPanel .target form #buttons #decrease {
    background-color: red;
}

#goalPanel .target form #target-name {
    flex: 1;
    margin-right: 10px;
}

#goalPanel #add-target {
    min-width: max-content;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ddd;
}

#goalPanel #add-target form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#goalPanel #add-button {
    border-style: inset;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 0;
    font-weight: bold;
}

#goalPanel #select-type {
    border-style: inset;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#edit-goal {
    width: 250px;
    background-color: #5DA7DB;
    border-radius: 20px;
    padding: 20px 0;
    text-align: center;
    color: black;
    font-size: 40px;
    text-decoration: none;
    margin: 50px;
    border: 0px;
}

#edit-goal:hover {
    background-color: #6595fd;
    transition: 0.4s;
}

/* ------------------------- edit goal page ---------------------------- */

#editGoalPanel {
    background-color: #81C6E8;
    display:flex;
    flex-direction: column;
    font-size: 24px;
    width: 500px;
    height: 500px;
    border-radius: 30px;
    padding : 40px;
    align-items: center;
}

#editForm input,
#editForm textarea {
    
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 35px;
    border-width: 2px;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#editForm #description {
    min-height: 180px;
    padding: 10px;
    resize: none;
}

#editForm h4 {
    margin-block-start: 0;
    margin-block-end: 35px;
    font-size: 40px;
}

#editForm #editButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#editForm #editButtons button {
    background-color: #6595fd;
    box-sizing: content-box;
    min-width: 100px;
    width: 100%;
    max-width: 200px;
    height: 60px;
    border-radius: 30px;
    font-size: 24px;
    border-width: 0;
}

#editGoalPanel a {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color: black;
}

#editGoalPanel a:hover {
    color: blue;
}

/* ------------------------- add goal page ---------------------------- */

#addGoalPanel {
    background-color: #81C6E8;
    display:flex;
    flex-direction: column;
    font-size: 24px;
    width: 500px;
    height: 500px;
    border-radius: 30px;
    padding : 40px;
    align-items: center;
}

#addForm input,
#addForm textarea {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 35px;
    border-width: 2px;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#addForm #description {
    min-height: 180px;
    padding: 10px;
    resize: none;
}

#addForm h4 {
    margin-block-start: 0;
    margin-block-end: 35px;
    font-size: 40px;
}

#addForm #addbutton {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#addForm #addbutton button {
    background-color: #5DA7DB;
    box-sizing: content-box;
    min-width: 100px;
    width: 100%;
    max-width: 200px;
    height: 60px;
    border-radius: 30px;
    font-size: 24px;
    border-width: 0;
}

#addGoalPanel a {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color: black;
}
