body {
    height: 100vh;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #5DA7DB;
    position: absolute;
    top: 0px;
    height: 150px;
    width: 100vw;
    padding: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
}

nav ul {
    font-size: 24px;
    list-style: none;
    margin: 30px;
    padding: 0;
    display: flex;
}

nav li {
    width: 90px;
    margin: 0 20px;
}

nav a {
    color: black;
    text-decoration: none;
}

.logo {
    margin: 50px;
    width: 100px;
}

#backPanel {
    background-color: #7DE5ED;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 50px;
    right: 50px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginPanel {
    background-color: #81C6E8;
    transform: translateY(15%);
    font-size: 24px;
    width: 290px;
    height: 290px;
    border-radius: 30px;
    padding : 80px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

#loginForm input {
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 40px;
}

#password::placeholder {
    transform: translateY(30%);
    letter-spacing: 5px;
    font-size: 30px;
}

#loginForm button {
    background-color: #6595fd;
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    border-radius: 30px;
    font-size: 24px;
    border-width: 0;
}

table {
    tr:hover {background-color: coral;}
}

tr:hover {
    background-color: coral;
}
